<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="./styles/network.css">
   <link rel="stylesheet" href="./styles/loading.css">
   <link rel="stylesheet" href="./styles/all.css">
   <script src="./scripts/loading.js"></script>
   <title>network autoreport v1.0</title>
</head>
<body>

   <!-- Loading Screen -->
   <div id="loading-overlay">
      <span>Loading data, please wait...</span>
   </div>

   <!-- Actual Page -->
   <div id="data-container" hidden>
      <h1 class="rainbow">Network autoreport v1.0-dev</h1>
      <!-- <h2 style="color: red;">MOHON JANGAN LUPA GANTI PLACEHOLDERNYA</h1> -->
      <% if (formattedText) { %>
         <form action="/network" method="POST">
            <textarea style="height: 80vh; width: 60vw;" name="text" rows="150" cols="50" placeholder="Enter your text here...">
              <%= formattedText %>
            </textarea>
          <% } else { %>
            <table border="1">
                <thead>
                   <tr>
                       <th colspan="4" style="text-align: center; background-color: #007BFF; color: white;">
                          <strong><h3>Dewaweb (AS139456) IP Blocks Allocation (Upstreams)</h3></strong>
                       </th>
                   </tr>
                     <tr>
                        <td><strong>IP Blocks/CIDR</strong></td>
                        <td><strong>Description</strong></td>
                        <td><strong>Upstreams</strong></td>
                        <td><strong>Stormwall Status</strong></td>
                     </tr>
                  </thead>
                  <tbody>
                     <% if (tableData) { %>
                        <% let curDataCenter = null; %>
                        <% tableData.forEach(row => { %>
                           <% if (curDataCenter !== row.label) { %>
                              <tr>
                                 <th colspan="4">
                                    <strong><%= row.label %></strong>
                                 </th>
                             </tr>
                           <% } %>
                           <% curDataCenter = row.label; %>
                              <tr>
                                 <td><%= row.prefix %></td>
                                 <td><%= row.desc  %></td>
                                 <td><%- row.upstream.replace(/#/g, '<br>') %></td>
                                 <td><%= row.stormwall %></td>
                              </tr>
                           <% }) %>
                     <% } else { %>
                        <tr>
                           <td colspan="4">Loading...</td>
                        </tr>
                     <% } %>
                  </tbody>
            </table>
          <% } %>       
         <button type="submit">Format</button>
      </form>
   </div>
   
</body>
</html>

<% if (!tableData) { %>
   <script>

      // Fetch data on page load
      window.onload = fetchingData;

   </script>
<% } else { %>
   <script>

      // Make page visible if data is fetched
      hasData();

   </script>
<% } %>